@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {
			position: absolute;
			right:100px;
			top:10px;

}

h1 {
	color: #33CC99;

}
<<<<<<< HEAD

a:hover {
  color: white;
  background-color: red;
}

a:visited {
  text-decoration: none;
}


a:active {
  text-decoration: red;
}
=======
.elsrTitle{
	font-family: mistral;
	font-weight: bold;
	color: red;
<<<<<<< HEAD
<<<<<<< HEAD
	}
>>>>>>> origin/Jung-Sub
=======

  }
>>>>>>> origin/Jung-Sub
=======

  }
>>>>>>> origin/Jung-Sub
